.DS_Store
.claude/
rotomundo_completo/
rotomundo_completo.zip
stitch_rotomundo_corporate_website_site/
contenido_rotomundo.md
contenido_rotomundo\ 2.md
Video\ Rotomundo.mp4
Tinacos.pdf
cisternas.pdf
Imagenes\ actualizadas/
